<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
<h1>CSVSummary</h1>
</div>
<div th:if="${error != null}" th:text="${error}"/>
<div th:if="${message != null}" th:text="${message}"/>
<div>
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" accept=".csv"/><br/><br/>
    <input type="submit" value="Upload" />
</form>
</div>

<div th:if="${headers != null}" th:text="${headers}"/>
<div th:if="${summary != null}" th:text="${summary}"/>
<div>
    <form method="POST" action="/summarize">
        <input type="text" name="header" /><br/><br/>
        <input type="submit" value="Get summary" />
    </form>
</div>
</body>
</html>